{% extends "memberinfo/base.html" %}

{% block ttitle %}{{ name }}'s profile{% endblock %}
{% block morehead %}
<script type="text/javascript" src="/static/js/profiles.js"></script>
{% endblock %}
{% block sidebar-outer %}{% endblock %}

{% block content %}

<div id="profilecontainer">
	<img src="{{ profile_img }}" alt="{{ nickname }}'s  mug" class="profilepic" />
	<div id="personal">
	<h1 class="name">{{ name }}</h1>
	{% if nickname %}<span class="nickname">{{ nickname }}</span>{% endif %}
	{% if profile_quote %}<span class="quote">{{ profile_quote }}</span>{% endif %}
	{% if joined %}<span class="joined">Member since {{ joined }}</span>{% endif %}
	{% if website_url %}<span class="website">Website:</span> <a href="{{ website_url }}" title="{{ website_name }}">{{ website_name }}</a></span>{% endif %}
	</div>
	<div id="gameprofile">
		{% if steamid %}<div class="gamedetailentry" id="steamprofile"><a href="http://www.steamcommunity.com/id/{{ steamid }}" title="Steam Community :: ID :: {{ steamid }}">{{ steamid }}</a></div><div class="tab"><div class="verticalmenuheader" id="steamtab"><span class="verticalmenuheadercontent">Steam</span></div></div> {% endif %}
		{% if xboxid %}<div class="gamedetailentry" id="xboxprofile"><a href="http://live.xbox.com/en-US/profile/profile.aspx?pp=0&GamerTag={{ xboxid }}" title="Xbox.com - {{ xboxid }}"><img src="http://card.mygamercard.net/aero/{{ xboxid }}.png" class="xblgamercard" title="{{ xboxid }}'s gamercard, powered by MyGamerCard" /></a></div><div class="tab"><div class="verticalmenuheader"><span class="verticalmenuheadercontent">Xbox</span></div></div> {% endif %}
		{% if psnid %}<div class="gamedetailentry" id="psnprofile"><a href="http://eu.playstation.com/psn/profile/{{ psnid }}/" title="Playstation.com - Public Profile - {{ psnid }}"><img src="http://mypsn.eu.playstation.com/psn/profile/{{ psnid }}.png" class="psncard" title="{{ psnid }}'s trophies" /></a></div><div class="tab" id="psntab"><div class="verticalmenuheader"><span class="verticalmenuheadercontent">PSN</span></div></div> {% endif %}
	</div>

		{% if xfireid %}<span class="detailtitle">Xfire:</span> <a href="http://www.xfire.com/profile/{{ xfireid }}" title="Xfire :: {{ xfireid }}">{{ xfireid }}</a>{% endif %}
</div>
{% endblock %}
